Package: runwhenidle
Version: $VERSION
Architecture: amd64
Depends: libc6 (>= 2.34), libx11-6, libxss1
Maintainer: Konstantin Pereiaslov <perk11@perk11.info>
Description: runwhenidle runs a computationally or IO-intensive program when user is not in front of the computer, pausing it once the user is back, resuming once the user left, often without requiring adaptation from the program being ran.
 runwhenidle runs a command given to it, pauses it if the user is active by sending SIGTSTP to the command,
 when the user activity stops, runwhenidle resumes the command by sending it SIGCONT signal.
 It then checks once per second if user activity has resumed, and once it is, pauses the command again.
 runwhenidle uses XScreenSaverQueryInfo() to check when last user activity happened therefore a running X server is required.
 Wayland is not currently supported.
